html {
    background-color: #333333;
}

.website-body {
    padding: 0 5% 0 5%; 
}

header {
    text-align: center;
}

.information {
    text-align: center;
    color: white;
}

.card {
    background-color: white;
    color: black !important;
    margin: 40px;
}

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}