html {
    background-color: #333333;
}

.website-body {
    padding: 0 5% 0 5%; 
}

.header {
    color: white;
    align-items: center;
    /* justify-content: center; */
}

.information {
    
    color: white;
}

.card {
    background-color: white;
    color: black !important;
    margin: 20px;
}

main {
    display: flex;
}