/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* button:hover{
  border-color: blue !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Pathway+Extreme:wght@400;600&display=swap');
.accordion {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Pathway Extreme', sans-serif;
  font-weight: 400;
  border-radius: 20px !important;
}

.accordion-button { /*Accordion.Header elements*/
  color: black !important;
  font-weight: 600;

}

.accordion-button:hover {
  border-radius: 0px !important;
  /* border-radius: 50px !important; */
}

.accordion-item {
  /* margin: 0 auto !important; */
  width: 50% !important;
  /* border: 1px solid black; */
  /* border-radius: 50px !important; */

}

.m-top {
  margin-top: 50px;
}

.accordion-body {
  color: black;
  
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
}

.result-boxes {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  text-align: center;
}

.select-and-result {
  display: flex;
  flex-flow: column nowrap;
}

select {
  padding: 10px;
  border-radius: 10px;
}

.result-text {
  color: white;
  margin-top: 20px;
}


.result-text-and-boxes {
  display: flex;
  flex-flow: column nowrap;
}