/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* button:hover{
  border-color: blue !important;
} */

.accordion {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.accordion-button { /*Accordion.Header elements*/
  color: black !important;
}

.accordion-button:hover {
  border-radius: 1px solid black;
}

.accordion-item {
  /* margin: 0 auto !important; */
  width: 50% !important;

}

.accordion-body {
  color: black;
  
}

.interactive-content {
  display: flex;
  border: solid 1px white; 
}

.interactive-conent-container {
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 2.7rem;
}

